{% if request.htmx %}
    <p id="events_count" hx-swap-oob="true" class="my-1 font-semibold">
        {% if events %}
            Results: {{ events.paginator.count }}
        {% else %}
            No results
        {% endif %}
    </p>
{% endif %}

{% include 'partials/_events.html' %}

{% if events.has_next %}
    <div id="search" class="w-full flex justify-center">
        <button 
            class="py-2 px-5 bg-gray-200 hover:bg-gray-300 text-black font-semibold rounded no-underline border-2 focus:shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] focus:translate-y-0.5 focus:translate-x-0.5 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,0.9)] hover:shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
            hx-get="?q={{ query }}&page={{ events.next_page_number }}"
            hx-push-url="true"
            hx-target="#search"
            hx-swap="outerHTML"
        >
            Load more
        </button>
    </div>
{% endif %}
