{% extends "base.html" %}

{% block title %}- Account{% endblock %}

{% block base_content %}
    <div class="flex flex-col w-full flex-grow flex-shrink-0">
        <h1>Welcome {{ user.username }}</h1>
        {% include "partials/_account_actions.html" %}
        {% if events %}
            <h2>Your Events</h2>
            <div class="flex flex-row gap-3 mb-3"
                 hx-target="#events"
                 hx-swap="innerHTML"
                 _="on htmx:afterOnLoad take [@aria-selected=true] with 'false' from .tab for event.target"
                 hx-history="false"
                 hx-replace-url="true">
                <button class="tab btn-link-primary !bg-green-500 aria-selected:shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
                        {% if request.GET.status == 'approved' or not request.GET.status %}aria-selected="true"{% endif %}
                        hx-get="{% url 'account_detail' %}{% querystring status="approved" %}">Approved</button>
                <button class="tab btn-link-primary !bg-blue-500 aria-selected:shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
                        {% if request.GET.status == 'pending' %}aria-selected="true"{% endif %}
                        hx-get="{% url 'account_detail' %}{% querystring status="pending" %}">Pending</button>
            </div>
            {% with section_id="events" template_name="partials/_account_events.html" %}
                {% include "partials/_account_section.html" %}
            {% endwith %}
        {% endif %}
        {% with section_title="Your Bought Tickets" section_id="purchases" template_name="partials/_account_purchases.html" %}
            {% include "partials/_account_section.html" %}
        {% endwith %}
        {% with section_title="Your Registered Events" section_id="registers" template_name="partials/_account_registers.html" %}
            {% include "partials/_account_section.html" %}
        {% endwith %}
    </div>
{% endblock %}
