{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}- Create{% endblock %}

{% block base_content %}
    <h2>Create Event</h2>
    <form method="post"
          enctype="multipart/form-data"
          class="flex flex-col gap-2 min-w-52 w-full max-w-md"
          action="{% url 'event_create' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col">
                {% if field.errors %}<div class="prose-sm !text-red-500">{{ field.errors }}</div>{% endif %}
                {% if field.html_name == 'banner' %}
                    <label for="{{ field.id_for_label }}" class="font-bold">{{ field.label }}</label>
                    {% if field.value %}<img src="{{ field.value.url }}" alt="banner" width="200" height="200">{% endif %}
                    {{ field }}
                {% elif field.html_name == "event_type" %}
                    <label for="{{ field.id_for_label }}" class="font-bold">{{ field.label }}</label>
                    <select class="p-4 focus:!border-black focus:ring-0 border-2 rounded font-medium placeholder-shown:!border-[#6b7280] border-black valid:border-black invalid:border-red-500"
                            name="{{ form.event_type.name }}"
                            hx-get="{% url 'event_create' %}"
                            hx-target="#ticket-form"
                            hx-swap="innerHTML">
                        {% for value, label in form.event_type.field.choices %}
                            <option value="{{ value }}"
                                    {% if value == form.event_type.value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <label for="{{ field.id_for_label }}" class="font-bold">{{ field.label }}</label>
                    {% render_field field placeholder="" class="p-4 focus:!border-black focus:ring-0 border-2 rounded font-medium placeholder-shown:!border-[#6b7280] border-black valid:border-black invalid:border-red-500" %}
                {% endif %}
            </div>
        {% endfor %}
        <div id="ticket-form">{% include 'partials/_ticket_form.html' %}</div>
        <button class="btn-primary" type="submit">Save</button>
    </form>
{% endblock %}
