{% extends "base.html" %}

{% block title %}- {{ event.title }}{% endblock %}

{% block base_content %}
    <h2>Buy ticket for {{ event.title }}</h2>
    <div class="bg-blue-600 relative text-white p-3 px-6 rounded border-2 border-black box-shadow w-80 ticket">
        <p class="m-0 mb-1 text-lg">Event: {{ event.title }}</p>
        <p class="m-0 mb-1">Ticket price: {{ event.ticket.price }}$</p>
        <p class="m-0 text-sm text-gray-200">Starts at: {{ event.date|date:"d.m.Y H:i" }}</p>
    </div>
    <p>Tickets left: {{ event.ticket.quantity }}</p>
    <form method="post"
          x-data="{ quantity: 1, price: {{ event.ticket.price }} }"
          x-init="$watch('quantity', value => { if (value < 1) {quantity = 1} else if (value > {{ event.ticket.quantity }}) { quantity={{ event.ticket.quantity }} } })">
        {% csrf_token %}
        <p>Price: <span x-text="price"></span>$</p>
        <p>Amount: <span>{{ form.ticket_quantity }}</span></p>
        <p>Total Price: <span x-text="quantity * price"></span>$</p>
        <button class="btn-primary hover:!bg-yellow-500 !bg-yellow-400" type="submit">Proceed payment</button>
    </form>
{% endblock %}
